<% provide(:title, "Sign In") %>
<div class="account-container stacked">

  <div class="content clearfix">
    <h1>Sign In</h1>

<%= twitter_bootstrap_form_for :session, url: sessions_path, layout: :horizontal, role: 'form' do |f| %>

  <%= f.inputs do %>
    <%= f.email_field :email, :placeholder => 'you@example.com'%>
    <%= f.password_field :password, :placeholder => 'password' %>
  <% end %>
  <%= f.actions do %>
  	<%= f.submit "Sign In" %>
  <% end %>
<% end %>
</div>
</div>
