<% provide(:title, @user.name) %>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
    </div>
</div>
<div class="row">
	<div class="col-md-8">
		<%= render 'widgets/pageviews' %>
		<%= render 'widgets/table' %>
		<%= render 'widgets/chat' %>
	</div>
	<div class="col-md-4">
		<%= render 'widgets/feed' %>
		<%= render 'widgets/tabs' %>
		<%= render 'widgets/bargraphs' %>
	</div>
</div>
