<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

 <div class="row">
        
        <div class="col-md-8">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-user"></i>
              <h3>Your Account</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
          
          <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#profile" data-toggle="tab">Profile</a>
            </li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
          </ul>
          
          <br>
          
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
           
                <%= twitter_bootstrap_form_for @user, layout: :horizontal, role: 'form' do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.inputs do %>

                    <%= f.text_field :name, div_class: 'col-xs-12 parsley-validated'%>
                    <%= f.email_field :email, :placeholder => 'you@example.com', div_class: 'col-xs-12 parsley-validated' %>
                    <%= f.password_field :password, div_class: 'col-xs-12 parsley-validated' %>
                    <%= f.password_field :password_confirmation, "Password Confirmation", div_class: 'col-xs-12 parsley-validated' %>
                  <% end %>
                  <%= f.actions do %>
                    <%= f.submit "Save changes" %>
                  <% end %>

                <% end %>
            
              </div>
              
              <div class="tab-pane" id="settings">
                <form id="user-form" class="form-horizontal label-left" novalidate="novalidate" method="post" data-validate="parsley">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="accounttype">Account Type</label>
                      <div class="controls form-group">
                        <div class="radio">
                          <label class="radio">
                                        <div class="iradio_square-grey checked" style="position: relative;"><input type="radio" id="radio-4" class="iCheck" name="can" checked="checked" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                                        POP3</label>
                        </div>

                        <div class="radio">
                          <label class="radio">
                                        <div class="iradio_square-grey" style="position: relative;"><input type="radio" name="can" class="iCheck" id="radio-5" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                                        IMAP</label>
                        </div>

                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="accountusername">Account Username</label>
                      <div class="controls form-group">
                        <input type="text" class="col-xs-12 parsley-validated" id="accountusername" name="accountusername" value="rod.howard@example.com">
                        <p class="help-block">Leave blank to use your profile email address.</p>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="emailserver">Email Server</label>
                      <div class="controls form-group">
                        <input type="text" class="col-xs-12 parsley-validated" id="emailserver" name="emailserver" value="mail.example.com">
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="accountpassword">Account Password</label>
                      <div class="controls form-group">
                        <input type="text" class="col-xs-12 parsley-validated" id="accountpassword" name="emailserver" value="password">
                      </div>
                    </div>
                    
                                          
                    
                    
                    <div class="control-group">
                      <label class="control-label" for="accountadvanced">Advanced Settings</label>

                        <div class="controls form-group">
                          <label class="checkbox">
                            <div class="icheckbox_square-grey" style="position: relative;"><input type="checkbox" id="checkbox-2" class="iCheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                            User encrypted connection when accessing this server
                          </label>
                        </div>

                        <div class="controls form-group">
                          <label class="checkbox">
                           <div class="icheckbox_square-grey" style="position: relative;"><input type="checkbox" id="checkbox-2" class="iCheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                            Download all message on connection
                          </label>
                        </div>
                      </div>
                    

                    
                    <div class="form-action">
                      
                      <button type="submit" class="btn btn-primary">Save</button> 
                      <button type="button" class="btn btn-default">Cancel</button>
                      
                    </div>
                  </fieldset>
                </form>
              </div>
              
            </div>
            
            
          </div>
          
          
          
          
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div> <!-- /span8 -->
        
        
        <div class="col-md-4">

          <div class="well">

            <h4>Extra Info</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          
          
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
                
        </div> <!-- /span4 -->
        
      </div> <!-- /row -->
