<% provide(:title, 'Sign up') %>
<div class="account-container stacked">

  <div class="content clearfix">
    <h1>Sign Up</h1>

  <%= twitter_bootstrap_form_for @user, layout: :horizontal, role: 'form' do |f| %>

  <%= f.inputs do %>

    <%= f.text_field :name, :placeholder => 'name', div_class: 'col-md-12'%>
    <%= f.email_field :email, :placeholder => 'you@example.com', div_class: 'col-md-12' %>
    <%= f.password_field :password, :placeholder => 'Password', div_class: 'col-md-12' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirm', div_class: 'col-md-12' %>
  <% end %>
  <%= f.actions do %>
  	<%= f.submit "Create account" %>
  <% end %>
<% end %>
</div>
</div>
