 <section class="widget">

   <header>
      <h4>
          <i class="eicon-users"></i>
          Currently Onboarding
      </h4>
  </header>

  <div class="">

      <div id="stats" class="active clearfix">
          <ul class="users-list" id="currentlyOnboarding">

              <!-- Onboardee information block -->
              <li>
                  <%= image_tag "1.jpg", :class => 'pull-left img-circle' %>
                  <div class="user-info">
                      <div class="name"><a href="#">Finees Lund</a></div>
                      <div class="position">Product Designer</div>
                      <div class="time">Last activity: Mar 20, 18:46</div>
                  </div>
              </li>
              <!-- End onboardee information block -->

              <li>
                  <%= image_tag "3.jpg", :class => 'pull-left img-circle' %>
                  <div class="user-info">
                      <div class="name"><a href="#">Erebus Novak</a></div>
                      <div class="position">Software Engineer</div>
                      <div class="time">Last activity: Mar 23, 9:02</div>
                  </div>
              </li>
              <li>
                  <%= image_tag "2.jpg", :class => 'pull-left img-circle' %>
                  <div class="user-info">
                      <div class="name"><a href="#">Leopoldo Reier</a></div>
                      <div class="position">Chief Officer</div>
                      <div class="time">Last activity: Jun 6, 15:34</div>
                  </div>
              </li>
              <li>
                  <%= image_tag "13.jpg", :class => 'pull-left img-circle' %>
                  <div class="user-info">
                      <div class="name"><a href="#">Frans Garey</a></div>
                      <div class="position">Financial Assistant</div>
                      <div class="time">Last activity: Jun 8, 17:20</div>
                  </div>
              </li>
              <li>
                  <%= image_tag "14.jpg", :class => 'pull-left img-circle' %>
                  <div class="user-info">
                      <div class="name"><a href="#">Jessica Johnsson</a></div>
                      <div class="position">Sales Manager</div>
                      <div class="time">Last activity: Jun 8, 9:13</div>
                  </div>
              </li>
          </ul>
      </div>
     
  </div>
</section>