<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <!-- body -->
  <body class="background-dark">
  <!-- top left logo -->
  <div class="logo">
      <h4><%= link_to "Pinecone", root_path, id: "logo" %></h4>
  </div>

  <%= render 'layouts/sidebar' %>
  <%= render 'layouts/header' %>
  <div class="wrap">      
      <div class="content container">

        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>
        

      </div>
  </div>

            <%= debug(params) if Rails.env.development? %>  
       
  </body>
</html>
